
:root {
    --red: #f44;
    --green: #2b2;
    --blue: #66f;
}

* {
    box-sizing: border-box;
    transition-property: background, color, border, box-shadow;
    transition-duration: .2s;
    user-select: none;
}
html, body {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    height: 100%;

    text-align: center;

    background: #e8e8ee;
    font-family: sans-serif;
    color: #666;
    font-weight: bold;
}
body {
    display: flex;
}
.svg-defs {
    position: fixed;
    height: 0;
    width: 0;
}
.shape { stroke-width: 2; }
.shape-red { stroke: var(--red); fill: var(--red); }
.shape-green { stroke: var(--green); fill: var(--green); }
.shape-blue { stroke: var(--blue); fill: var(--blue); }
.shape-empty { fill: none; }
/*.shape-half { fill-opacity: .2; }*/
.shape-half.shape-red { fill: url(#pattern-diagonal-hatch-red); }
.shape-half.shape-green { fill: url(#pattern-diagonal-hatch-green); }
.shape-half.shape-blue { fill: url(#pattern-diagonal-hatch-blue); }
#pattern-diagonal-hatch-red { stroke: var(--red); }
#pattern-diagonal-hatch-green { stroke: var(--green); }
#pattern-diagonal-hatch-blue { stroke: var(--blue); }

body > main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}
h1 {
    text-align: center;
}
#sidebar {
    height: 100%;
    width: 200px;
    flex-grow: 0;
    padding: 1em 1em 0;
    background: white;
    box-shadow: 0 0 2px #0003, 0 0 4px #0002;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
#players {
    flex-grow: 1;
}
.button,
.player {
    margin: 1em 0;
    padding: 1em;
    border: 2px solid #ccc;

    font-weight: bold;
    font-size: 1.2em;
    cursor: pointer;
}
.player {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button:hover,
.player:not(.blocked):hover,
.player.selected {
    background: #eee;
}
.player.selected {
    border-color: #888;
}
.player.blocked {
    color: #ccc;
    border-color: #eee;
    cursor: default;
}

.button {
    text-align: center;
}

#cards {
    display: grid;
    /*grid-template-columns: repeat(4, 20vmin);*/
    grid-auto-flow: column;

    grid-template-rows: repeat(3, 30vmin);
    grid-gap: 2vmin 2vmin;
    padding: 2vmin;
    /*height: 60vmin;*/
    /*width: 80vmin;*/
    /*align-items: stretch;*/
    /*justify-content: stretch;*/
    /*align-content: stretch;*/
}

.card {
    width: 20vmin;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: white;
    border: 4px solid transparent;
    border-radius: 6px;
    box-shadow: 1px 1px 2px #0003,
                0 0 3px #0003;
    transition-property: transform, box-shadow, border;

    cursor: pointer;
}
/*.card.selected,*/
.card:hover {
    /*background: #eee;*/
    /*margin: -1vmin;*/
    box-shadow: 2px 2px 4px #0002,
                0 0 6px #0002;
    transform: scale(105%, 105%);
}
.card.selected {
    border-color: #aaf;
}
.card.highlighted {
    border-color: #faa;
}
.card svg {
    margin: 5%;
    max-height: 23%;
    /*max-width: 80%;*/
}
